main{
    margin-top: 2rem;
}
aside .sidebar{
    height: 110vh;
}
section.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    div{
        background-color: var(--color-white);
        padding: 1.8rem;
        border-radius: 2rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: 300ms ease;
        h2{
            font-weight: 400;
        }
        span{
            font-size: 1.65rem;
            font-weight: 700;
        }
        &.card2 span{
            color:#FDD835;
        }
        &.card3 span{
            color:#4CAF50;
        }
    }
    div:hover{
        transform: scale(1.05);
    }
}
.chartbox{
    margin: 2rem 0 0;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    padding: 1.8rem;
    border-radius: 2rem;
    transition: 300ms ease;
}
.chartbox:hover{
    box-shadow: none;
}
canvas{
    width: 100%;
    height: auto !important;
}

.edit-budget-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
    button{
        padding:1rem;
        margin:1rem;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 0.5rem;
        color:var(--color-dark);
        background-color: var(--color-primary);
        text-shadow: 0 1px 2px var(--color-white);
        filter: drop-shadow(0 3px 0.5px var(--color-dark));
    }
    button:active{
        filter: none;
        transform: translateY(2px);
    }
}

/* Edit Pop Up */
.hidden{
    display: none;          
}
.blur{
    filter:blur(5px);                 
}

.edit{
    position: fixed;
    top:27%;
    left:33%;
    width:35%;
    height: auto;
    border-radius: 1rem;
    padding:2.5rem;
    color:var(--color-dark);
    background-color: var(--color-white);
    box-shadow: 0 2rem 3rem var(--color-light);
    h1{
        text-align: center;
        padding-bottom:3rem;
        font-size: 2rem;
    }
    label, input{
        font-weight: 500;
        font-size: 1rem;
    }
    input{
        padding:0 0.5rem;
        width:50%;
        background: transparent;
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
        gap:2rem;
        button{
            width:5rem;
            padding:1rem;
            border-radius: 2rem;
            font-weight: 700;
            color:white;
            &#cancel{
                background-color: rgb(255, 0, 0);
            }
            &#save{
                background-color: rgb(0, 128, 0);
            }
            &#cancel:hover{
                background-color: rgba(255, 0, 0, 0.7);
            }
            &#save:hover{
                background-color: rgba(0, 128, 0, 0.7);
            }
        }
    }
}

@media screen and (max-width: 750px){
    aside .sidebar{
        height:95%;
    }
    main{
        margin-top: 8rem;
    }
    .edit{
        width:80%;
        top:26%;
        left:10.5%;
    }
}

@media screen and (max-width: 560px){
    section.cards{
        grid-template-columns: 1fr;
    }
    #budget-bar{
        padding: 1rem;
    }
    .edit h1{
        font-size: 1.5rem;
    }
    .edit label, .edit input{
        font-size: 0.65rem;
    }
}