aside .sidebar{
    height:132vh;
}
main{
    padding-right: 1.5rem;
    margin-top: 2rem;
}
main .metrics{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    > div{
        background-color: var(--color-white);
        padding: 1.8rem;
        border-radius: 2rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: 300ms ease;
    }
    > div:hover{
        transform: scale(1.05);
    }
    .income,.expense,.saving{
        display: flex;
        justify-content: space-between;
    }
    .income{
        background-color: #d8f5d8;
        color:#256d25;
    }
    .expense{
        background-color: #f8d8d8;
        color:#b32626;
    }
    .saving{
        background-color: #d8e9f8;
        color:#003366;
    }
    h1,h3{
        padding:0.5rem;
    }
    h3{
        font-size: 20px;
        font-weight: 600;
    }
    h1{
        font-size: 32px;
        font-weight: 800;
    }
}
section.title{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
section.charts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
    margin-bottom: 2rem;
    place-items: center;
    .chart1, .chart2{
        box-shadow: var(--box-shadow);
        background-color: var(--color-white);
        padding: 1.8rem;
        border-radius: 2rem;
        margin-top: 1rem;
        transition: 300ms ease;
        h2{
            text-align: center;
            padding-bottom:1.5rem;
        }
    }
    .chart1:hover, .chart2:hover{
        box-shadow: none;
    }
}

.insights{
    box-shadow: var(--box-shadow);
    background-color: #FFF8E1;
    color:black;
    padding: 1.5rem 3rem 3rem;
    border-radius: 2rem;
    transition: 300ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:1rem 0;
    div{
        display: flex;
    }
    ul{
        font-size: 1.3rem;
        line-height: 1.7;
        li{
            margin-bottom:1rem;
        }
    }
    h1{
        font-weight: 500;
        font-size: 1.6rem;
        text-align: center;
    }
    &:hover{
        box-shadow: none;
    }
}
@media screen and (max-width: 750px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding:0 2.5rem;
    }
    aside .sidebar{
        height:85%;
    }
    main{
        margin-top: 8rem;
        padding: 0;
    }
    section.charts{
        grid-template-columns: 1fr;
        .chart1, .chart2{
            width:550px;
        }
    }
    .income,.expense,.saving{
        flex-direction: column;
        margin-right:1rem;
        h3{
            font-size: 2rem !important;
        }
        h1{
            font-size: 4rem !important;
            margin-top:1.5rem;
            flex-grow: 1;
        }
    }
    
}
@media screen and (max-width: 660px){
    section.title{
        grid-template-columns: 1fr;
        .insights ul{
            font-size: 0.9rem;
        }
    }
    section.charts{
        .chart1, .chart2{
            width:450px;
        }
    }
    .income,.expense,.saving{
        margin:1rem 2.5rem;
        flex-direction: row;
        h3{
            font-size: 1.2rem !important;
        }
        h1{
            font-size: 2.3rem !important;
            margin: 0;
            flex-grow: 0;
        }
    }
}
@media screen and (max-width: 545px){
    .title >div{
        align-items: center;
    }
    .title .insights{
        width:340px;
    }
    
    section.charts{
        .chart1, .chart2{
            width:350px;
        }
    }
    .income,.expense,.saving{
        margin:1rem 2.5rem;
        flex-direction: row;
        h3{
            font-size: 1rem !important;
        }
        h1{
            font-size: 2rem !important;
            margin: 0;
            flex-grow: 0;
        }
    }
}
@media screen and (max-width: 512px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding:0 1rem;
    }
    .title .insights{
        width:260px;
    }
    section.title{
        grid-template-columns: 1fr;
        .insights ul{
            font-size: 0.9rem;
        }
    }
}
@media screen and (max-width: 385px){
    .title .insights{
        width:230px;
        ul{
            font-size: 0.75rem !important;
        }
    }
    section.charts{
        .chart1, .chart2{
            width:290px;
        }
    }
}
