/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Customize Properties */
:root{
    --base-color:#282b39;
    --hover-color:#0e0f17;
    --color-primary: #f3ba2f;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
    line-height: 1.5rem;
}

body{
    width: 100vw;
    height: 100%;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

h1{
    font-weight: 700;
    font-size: 1.8rem;
}

h2{
    font-weight: 500;
    font-size: 1.4rem;
}

h3{
    font-weight: 400;
    font-size: 0.8rem;
}

.container{
    display: grid;
    width: 95%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}

/* Sidebar Style */
aside{
    height: 100vh;
    .toggle{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.4rem;
      .logo {
        display: flex;
        gap: 0.5rem;
        img {
          width: 3rem;
          height: 3rem;
        }
        h2{
            color:var(--color-dark);
            font-weight: 700;
            span{
                color:rgb(50, 130, 216);
            }
        }
      }
      .close {
        padding-right: 1rem;
        display: none;
      }
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white);
      box-shadow: var(--box-shadow);
      border-radius: 15px;
      height: 85vh;
      position: relative;
      top: 1.5rem;
      transition: 300ms ease;
      &:hover {
        box-shadow: none;
      }
      a {
        display: flex;
        align-items: center;
        color: var(--color-info-dark);
        height: 3.7rem;
        gap: 1rem;
        position: relative;
        margin-left: 2rem;
        transition: 300ms ease;
        span{
          font-size: 1.6rem;
          transition: 300ms ease;
        }
  
        &:last-child {
          position: absolute;
          bottom: 2rem;
          width: 100%;
        }
  
        &.active {
          width: 100%;
          color: var(--color-primary);
          background-color: var(--color-light);
          margin-left: 0;
  
          &::before {
            content: '';
            width: 6px;
            height: 18px;
            background-color: var(--color-primary);
          }
  
          span {
            color: var(--color-primary);
            margin-left: calc(1rem - 3px);
          }
        }
  
        &:hover {
          color: var(--color-primary);
          span {
            margin-left: 0.6rem;
          }
        }
      }
    }
  }
/* End of Sidebar Style */

/* Navigation Bar Styling */
main{
    h1{
        font-size: 2rem;
        padding: 0  1rem 1rem;
    }
}
main .nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    button{
        display:none;
    }
    .profile{
        display: flex;
        align-items: center;
        gap: 2rem;
        text-align: right;
        .profile-photo{
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                object-fit: cover;
            }
            
        }
    }
}
main .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    span{
        font-size: 1.2rem;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span.active{
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 0.4rem;
    }
}
/* End of Navigation Bar Styling */

/* Animations */
@keyframes appear{
    from{
        opacity: 0;
        scale:0.5;
    }
    to {
        opacity: 1;
        scale:1;
    }
}
.about-us, .features{
    animation: appear linear;
    animation-timeline: view();
    animation-range:entry 0% cover 30%;
}   
/* End of Animations */

/* Navigation Bar Style */
#navbar{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    background-color: white;
    width:100%;
    height: 5rem;
    z-index: 1;
    box-shadow: var(--box-shadow);
    div{
        display: flex;
        align-items: center;
        button{
            margin:0 1rem;
            padding:0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 600;
            font-size: 1rem;
            transition: 300ms ease-in-out;
        }
        .btn-signup{
            color:white;
            border:1px solid var(--color-primary);
            background-color: var(--color-primary);
        }
        .btn-login{
            background-color: white;
            border:1px solid rgb(99, 99, 99);
            color:rgb(99, 99, 99);
        }
        .btn-signup:hover{
            background-color: #d29703;
            border:1px solid #d29703;
            cursor:pointer;
        }
        .btn-login:hover{
            background-color: rgb(231, 231, 231);
            cursor:pointer;
        }
    }
    .title{
        img{
            padding: 1rem;
        }
        h1{
            font-size: 1.2rem;
            color:var(--color-dark);
            span{
                color:rgb(50, 130, 216);
            }
        }
    }
}
/* End of Navigation Bar Style */

/* Home page Section */
.hero{
    background-image:linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)),
    url(../images/hero_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    min-height:750px;
    padding:15% 10%;
    color:#fff;
    display: flex;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        font-size: 35px;
        h2{
            padding-top:min(2em,5%);
            padding-bottom:min(0.5em,5%);
            font-size: 30px;
            font-weight: 200;
        }
        p{
            padding-top:min(1em,5%);
            font-size: 25px;
            font-weight: 400;
        }
        button{
            margin-top: 5rem;
            width:20%;
            padding:1rem;
            font-size: 20px;
            color:white;
            background-color: var(--color-primary);
            font-weight: 600;
            border-radius: 0.5rem;
            transition: 300ms ease;
            border:none;
        }
        button.login{
            display: none;
        }
        button:hover{
            background-color: #d29703;
            cursor: pointer;
        }
    }
}
/* End of Home page Section */

/* About us section */
.about-us{
    display: flex;
    padding:2rem;
    overflow: hidden;
    img {
        width:100%;
        min-width: 500px;
        padding:1rem;
        align-self: center;
    }
    div{
        color:black;
        margin:2rem;
        border-radius: 20px;
    }
    div span hr{
        margin:2rem 0;
        border: 1px solid var(--color-dark-variant);
    }
    div span h1{
        font-size:35px;
        font-weight:600;
    }
    p{
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 1.5;
        
    }
}
/* End of About us section */

/* Features Section */
.features{
    display: flex;
    color:black;
    padding:1rem;
    div{
        padding:2rem;
        margin:1rem;
        border: 1px solid var(--base-color);
        border-radius: 1rem;
        transition: 300ms ease-in-out;
        h1{
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 1.7rem;
            padding: 0;
        }
        #feature{
            padding:0.75rem;
            margin-top:10px;
            border-radius: 12px;
            font-weight: 700;
            background-color: var(--color-primary);
            border:1px solid var(--base-color);
            color:var(--base-color);
            transition: 300ms ease-in-out;
        }
    }
    div:hover{
        background-color:var(--base-color);
        color:white;
        #feature{
            background-color: var(--base-color);
            color:var(--color-primary);
            border:1px solid var(--color-primary);
            cursor:pointer;
        }
    }
    div p{
        font-size: 0.8rem;
    }

}
#feature-title{
    text-align: center;
    color:var(--color-dark);
    margin-bottom:1.5rem;
    font-size: 3rem;
}
/* End of Feature Section */
 
/* Footer Section */
.footer{
    background-color: var(--hover-color);
    color:var(--color-dark-variant);
    padding:1rem;
    margin-top:1rem;
    text-align: center;
}
/* End of Footer Section */

/* Media Query for Responsive */
@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto;
    }
    aside .logo h2{
        display: none;  
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
}
@media screen and (max-width: 975px) {
    .about-us{
        flex-direction: column;
        div{
            margin:0 !important;
            p{
                font-size: 1rem;
            }
        }
        img{
            min-width:350px;
            padding:2rem;
        }
    }
    .features{
        flex-direction: column;
    }
}
@media screen and (max-width: 750px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 1.2rem;
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
        h2{
            display: inline;
        }
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.5rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }
    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
        h2{
            text-align: center;
        }
    }

    main .recent-orders table{
        width: 83vw;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
        overflow: scroll;
    }

    main .profile .info{
        display: none;
    }

    main{
        .nav{
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            background-color: var(--color-white);
            padding: 0 1.2rem;
            height: 4.6rem;
            width: 100%;
            z-index: 2;
            box-shadow: 0 1rem 1rem var(--color-light);
            margin: 0;
            .dark-mode {
                width: 4.4rem;
                position: absolute;
                left: 75%;
            }
            button {
                display: inline-block;
                background-color: transparent;
                cursor: pointer;
                color: var(--color-dark);
                position: absolute;
                left: 1rem;
                span{
                    font-size: 2rem;
                }
            }
        }
        overflow: hidden;
    }
    #navbar{
        justify-content: center;
        .title {
            img{
                align-items: center;
                z-index: 3;
            }
            h1{
                display: none;
            }
        }
        i{
            flex-grow: 0 !important;
        }
        .btn{
            display: none !important;
        }
    }
    .hero{
        div{
            text-align: center;
            h1{
                font-size: 1.75rem;
            }
            h2 em{
                font-size:1.25rem;
            }
            p{
                font-size: 1rem !important;
            }
            button{
                margin-top:40px !important;
                align-self: center;
                text-align: center;
                width:auto !important;
            }
            button.login{
                display:block !important;
            }
        }
    }
}
@media screen and (max-width: 512px){
    main .nav .dark-mode{
        left:55%;
    }
    
}